body {
    background: url(/static/images/bg.jpg);
    background-size: cover;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #22301F;
    height: 100%;
    padding-top: 0!important;
  
  }
  
  .main {
    margin-bottom: 50px;
  }
  
  .col-form-label, .col-form-legend {
    font-weight: bold;
  }
  
  .v-select .dropdown-toggle {
    background: white;
    padding: 2px 5px;
  }
  
  .white-bg {
    background: #fff;
  }
  
  .br-5 {
    border-radius: 5px;
  }
  